<div class="span12">
    
    <div class="group">
        <%= link_to("New Profile", new_profile_path , :class => "btn btn-mini btn-primary pull-left" ) %>
    </div><br />

 
    <h3>教師總表</h3>
    <table class="table">
        <thead>
            <tr>
                <td> # </td>
                <td> 教師姓名 </td>
                <td> 職稱 </td>
                <td> email </td>
                <td> 分機號碼 </td>
                <td> 辦公室 </td>
                <td> 實驗室 </td>
                <td></td>

            </tr>
        </thead>

    <tbody>
        <% @profiles.each do |p| %>
            <tr>
                <td> <%= p.id %>  </td>
                <td> <%= link_to(p.name, profile_path(p)) %> </td>
                <td> <%= p.title %> </td>
                <td> <%= p.email %></td>
                <td> <%= p.tel %></td>
                <td> <%= p.office_room %></td>
                <td> <%= p.lab_room %></td>
    
                <td> <%= link_to("Edit", edit_profile_path(p), :class => "btn btn-mini" ) %>
                <%= link_to("Delete", profile_path(p), :class => "btn btn-mini", :method => :delete, :confirm => "Are you sure?" ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
    </table>
    

</div>
