<div class="col-md-6">

<h2>新增角色</h2>

    <%= simple_form_for @group do |f| %>
        codename<%= f.input :title, :input_html  => { :class => "form-control"} %>
        介紹<%= f.input :description, :input_html => { :class => "form-control"} %>
        地點<%= f.input :location, :input_html => { :class => "form-control"}%>
        主要出沒地<%= f.input :mainloc, :input_html => { :class => "form-control"}%>
        等級<%= f.input :level, :input_html => { :class => "form-control"}%>
        G+<%= f.input :gpname, :input_html => { :class => "form-control"}%>
        備註<%= f.input :comment, :input_html => { :class => "form-control"}%>
        暱稱<%= f.input :nickname, :input_html => { :class => "form-control"}%>

    <div class="form-group">
        <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn btn-primary" %>
    </div>
    
    <% end %>
</div>