<div class="col-md">

    <div class="group">
        <%= link_to("Edit", edit_group_path(@group) , :class => "btn btn-mini btn-primary pull-right" ) %>
   </div>

<h2> <%= @group.title %> </h2>
<p> <%= @group.description %> </p>
<p> <%= @group.location %> </p>
<p> <%= @group.mainloc %> </p>
<p>Lv <%= @group.level.to_i %> </p>
<p> <%= @group.gpname %> </p>
<p> <%= @group.comment %> </p>
<p> <%= @group.nickname %> </p>

</div>