<div class="col-md">

    <div class="group">
        <%= link_to("Edit", edit_food_path(@food) , :class => "btn btn-mini btn-primary pull-right" ) %>
   </div>

<h2> <%= @food.foodname %> </h2>
<p> <%= @food.price %> </p>
<p> <%= @food.store_id %> </p>
<p> <%= @food.foodtype %> </p>


</div>