<!DOCTYPE html>
<html>
<head>
  <title>RedForce</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="row">
    <div class="col-xs-12 col-md-12"><%#= image_tag "VLSI_Lab_topbanner.jpg", :class => "img-rounded", :style => "width:100%" %></div>
    </div>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">RedForce</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="../hello">Home</a></li> -->
            <li><a href="../portfolio">Portfolio</a></li>
            <li><a href="../profiles/greeting">Profile</a></li>
            <li><a href="../journals">Journal</a></li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Foods <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if current_user %>
                <li><a href="../foods">Food Action</a></li>
                <% end %>
                <li><a href="../foods/list">Food List</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">link 1</a></li>
                <li><a href="#">link 2</a></li>
              </ul>
            </li> -->
            
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if current_user %>
                <li><a href="../groups">Group Action</a></li>
                <% end %>
                <li><a href="../groups/list">Group List</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">link 1</a></li>
                <li><a href="#">link 2</a></li>
              </ul>
            </li> -->

          </ul>
          <p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
 <!--  <%= current_user.created_at %> -->
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
        </div><!--/.nav-collapse -->

      </div>
    </div>

    <div class="container theme-showcase">


		<%= yield %>
	
    </div> <!-- /container -->

</body>
</html>